body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color:#aed3f9;
    background-image:url("/img/cosmos.png");
    background-size:auto;
    background-repeat: no-repeat;
    overflow-x: hidden;
   }
   
   
   ul{
     list-style:none;
     background-color:black;
     padding:17px;
     max-width:100%;
     margin:0;
     overflow:hidden;
     position:sticky;
     z-index:1;
     top:0;
     
   }
   
   li a{
   
   text-decoration:none;
   padding:13px;
   color:white;
   }
   
   li{
    float:left;
    margin-right:10%;
    font-size:24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:700;
   
   }
   
   li a:hover{
   color:#024AB3;
   text-shadow: 1px 1px 3px #024AB3;
   transition-duration:0.3s;
   
   }
   
   li a:active{
       color:goldenrod;
       
    }
   
 
    main{
       position:relative;
       bottom:600px;
       }
   
   #footer {
       display: inline-block;
      
       background-color: black;
       color: white;
       text-align: center;
       bottom: 0;
       margin-top:1000px;
       width: 96%;
       overflow-x: hidden;
       height: 140px;   
       padding: 0px 2%
   }



@keyframes fadeIn{
0%{opacity:0; color:black; transform: perspective(3px) scale(1.4)}
40%{opacity:0.6; color:skyblue; }
75%{opacity:0.8; color:skyblue; }
100%{opacity:1; color:#82AFF2; }
}

   .p-style{
  color:#82AFF2;
  font-size:40px;
  animation:fadeIn 1.4s;
  font-family:monospace;
  text-shadow: 1px 4px white;
 
}

.banner-content{
    text-align:center;
    position:relative;
    bottom:500px;
  
    }

    
.h2-style{
color:white;
position:relative;
font-family:Arial, Helvetica, sans-serif;
top:30px;
animation:fadeOut 3s;
max-height:200px;

}

@keyframes fadeOut{
    0%{opacity:0; color:white}
    50%{opacity:0; color:white}
    100%{opacity:1; color:white}
}



h5{

color:black;
font-size:60px;
margin:0;
font-family:'Times New Roman', Times, serif;

}

h6{

    color:#444141;
    font-size:20px;
    padding:10px; 
    margin-bottom:60px;
    margin:30px;
    position:relative;
    text-align:center;
    font-family:arial;
    max-width:100%;
    }

.header-container{
position:relative;
margin:20px;
text-align:center;
margin-top:-230px;
height: auto;
-webkit-font-smoothing: antialiased;
background-color:white;
box-shadow: 1px 1px 1px 1px black;
width:fit-content;
max-width:70%;
left:14%;
border:1px ridge black;
}

.flexbox-container{
display:flex;
flex-direction:row;
position:relative;
top:60px;
width:70%;
height:14%;
max-height: 70%;
left:15.4%;
background-color:white;
box-shadow:1px 1px 1px 1px; color:orange;


}

.flexbox-container1{
    display:flex;
    flex-direction:row;
    position:relative;
    top:100px;
    width:70%;
    height:15%;
    max-width:70%;
    left:15.4%;
    background-color:white;
    box-shadow:1px 1px 1px 1px; color:darkblue;
    
    }

.box1{
 flex:10px;
 border:1px solid orange;
 flex-grow:3;
 
}

.box2{
flex:2;
flex-grow:2;

}

.box3{
    flex:1;
    flex-grow:2;
    border:1px solid darkblue;
   }
   
   .box4{
   flex:2;
   flex-grow:3;
   border:1px solid darkblue;
   }

   .image-goal{
    position:relative;
    left:17%;
    top:240px;
    right:17%;
    height:auto;
    width:1000px;
    min-width:700px;
    background-color:white;
    border-radius:50px;
    margin:10px;
    padding-bottom:10px;
   
    

   }
 
    .bot-container{
   border-top:3px ridge black;
   background-color:darkslategray;
   height:1000px;
   width:100%;
   
   display:flexbox;
   position: relative;
   top:400px;
   max-width:100%;
   padding: 104px 0 24px 0;
   -webkit-font-smoothing: antialiased;
   
    }

    .bot-left{
    padding:20px;
    margin:100px;
    width:550px;
    background-image:url(/img/sun.jpg);
    border-radius:50px;
    box-shadow: 2px 4px #885402;
    }

    .bot-right{
        float:right;
        padding:20px;
        margin-top:-480px;
        margin-right:90px;
        
        width:550px;
        background-image:url(/img/sun.jpg);
        border-radius:50px;
        box-shadow: 2px 4px #885402;
        }
    


    h3{
  text-align:center;
  font-size:50px;
  -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: white;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  


    }
