:root {
    /*spacing*/
    --main-space: 2%;

    /*fonts*/
    --main-font: 'Noto Sans Mono', monospace;

    /*colors*/
    --main-bg-color: black;
    --secondary-bg-color: #B98D47;
    --fade-color: #51360A;

    --main-text-color: white;

}

/*general styling*/

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

#content {
    font-family: var(--main-font);
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: var(--main-space);
    margin: var(--main-space);
    margin-right: 4%;
}

ul {
    grid-column: 1/3;
}

#header {
    grid-column: 1/3;
    grid-row: 2;
}

/*general text styling*/

h1, h2, h3, h4 {
    text-align: center;
}

h2 {
    grid-column: 1/2;
    grid-row: 3;
    font-size: 50px;
    background: -webkit-linear-gradient(var(--secondary-bg-color), var(--fade-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 30px;
    background: -webkit-linear-gradient(var(--secondary-bg-color), var(--fade-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-weight: bold;
    padding: 0 var(--main-space);
    margin: 0 var(--main-space);
}

/*main content styling*/

#main {
    grid-column: 1/2;
    grid-row: 4;
    margin: 0;
}

#container1 {
    display: flex;
    flex-direction: row;
    column-gap: var(--main-space);
}

#container2 {
    margin-top: var(--main-space);
    border-radius: var(--border-radius);
   
}

section {
    padding: var(--main-space);
    flex: 1 1;
    background: -webkit-linear-gradient(var(--secondary-bg-color), var(--fade-color));
    border-radius: var(--border-radius);
}

/*form styling*/

#container2 > p {
    text-align: center;
}

#small {
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    padding: var(--main-space);
    margin-bottom: var(--main-space);
}

label {
    margin: var(--main-space) auto var(--main-space) 10%;
}

textarea {
    width: 80%;
}

#reference {
    display: flex;
    flex-direction: column;
}

input {
    display: block;
}

input[type="radio"] {
    display: inline;
}

input[type="submit"] {
   background: -webkit-linear-gradient(var(--secondary-bg-color), var(--fade-color));
   color: var(--main-text-color);
   font-family: var(--main-font);
   width: 30%;
   border: none;
   border-radius: 3%;
   padding: var(--main-space);
   align-self: center;
   margin: 5% auto;
   font-size: 18px;
}

input[type="submit"]:hover {
    background: -webkit-linear-gradient(var(--fade-color), var(--secondary-bg-color));
    
}

#born {
    display: flex;
}

select {
    padding: var(--main-space);
    margin-right: 5%;
}

#checkboxes {
    display: flex;
    flex-direction: column;
}

.check-labels {
    margin-bottom: 0;
}

.check-labels > input {
    display: inline;
}

/*aside styling*/

aside {
    grid-column: 2/3;
    grid-row: 4;
    display: flex;
    flex-direction: column;
}

#aside-section {
    padding: 0;
    background: var(--main-bg-color);
}

#aside-text, #happy-couple, #moon-at-night, #socialmedia {
    border-radius: var(--border-radius);
}

#aside-text {
    padding: 0 15% 10% 15%;
    margin-bottom: var(--main-space);
}

#socialmedia {
    text-align: center;
    padding: 15%;
}

#socialmedia > p {
    margin-bottom: 10%;
}

.img-container {
    margin-bottom: 1%;
}

#happy-couple, #moon-at-night {
    width: 100%;
    border-radius: var(--border-radius);
}

.icon {
    height: 50px;
    margin: var(--main-space);
}

/*book-page specific footer styling*/

#footer {
    grid-column: 1/3;
    padding: 0%;
}


@media only screen and (max-width: 960px) {
    #content {
        grid-template-columns: repeat(3, 1fr);
    }

    ul {
        grid-column: 1/4;
    }

    #header {
        grid-column: 1/4;
    }

    #main {
        grid-column: 1/4;
        grid-row: 5;
    }

    aside {
        grid-column: 1/4;
        grid-row: 4;
    }

    #aside-section {
        display: flex;
        flex-direction: row;
    }

    #aside-text, .img-container, #socialmedia {
        flex: 1 1;
        padding: 0;
        margin: 0;
    }

    .img-container {
        display: none;
    }


}