:root {
    /*spacing*/
    --main-space: 2%;

    /*fonts*/
    --main-font: 'Noto Sans', sans-serif;

    /*colors*/
    --main-bg-color: black;
    --secondary-bg-color: #b1771a;
    --fade-color: #ba9353;

    --main-text-color: white;

}

/*general styling*/

body {
    color: var(--main-text-color);
    display: grid;
    grid-template-columns: 70% 30%;
}

nav, #header, #banner, footer {
    grid-column: 1/3;
}

h1, #main {
    grid-column: 1/2;
}

#container1 {
    display: flex;
    flex-direction: row;
    column-gap: var(--main-space);
    margin: var(--main-space);
}

.main-section {
    flex: 1 1;
    padding: var(--main-space);
    border: 1px solid var(--secondary-bg-color);
}

h4 {
    color: white;
    text-decoration: underline;
}


aside, #socialmedia {
    grid-column: 2/3;
}

aside {
    height: fit-content;
    padding: var(--main-space);
    border: 1px solid var(--secondary-bg-color);
    margin-top: 4.5%;
    margin-right: var(--main-space);
}

/*general text styling*/

h1, h2, h3, h4 {
    text-align: center;
}

/*main content styling*/

/*form styling*/

#container2 > p {
    text-align: center;
}

#small {
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    padding: var(--main-space);
    margin-bottom: var(--main-space);
}

label {
    margin: var(--main-space) auto var(--main-space) 10%;
}

textarea {
    width: 80%;
}

#reference {
    display: flex;
    flex-direction: column;
}

input {
    display: block;
}

input[type="radio"] {
    display: inline;
}

#born {
    display: flex;
}

select {
    padding: var(--main-space);
    margin-right: 5%;
}

#checkboxes {
    display: flex;
    flex-direction: column;
}

.check-labels {
    margin-bottom: 0;
}

.check-labels > input {
    display: inline;
}

/*aside styling*/

#socialmedia {
    text-align: center;
    padding: 15%;
}

img {
    width: 100%;
}

.icon {
    height: 50px;
    width: auto;
    margin: 0 1%;
}

/*book-page specific footer styling*/



@media only screen and (max-width: 960px) {


}