:root {
    /*spacing*/
    --main-space: 2%;

    /*fonts*/
    --main-font: 'Noto Sans' sans-serif;

    /*colors*/
    --main-bg-color: black;
    --secondary-bg-color: #B98D47;
    --fade-color: #51360A;

    --main-text-color: white;

}

body{
 margin:0;
 padding:0;
 width:100%;
 font-family: 'Noto Sans', sans-serif;
 font-size: 14px;
 background-color: black;
}

nav {
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  position: sticky;
  z-index: 1;
  top: 0;
}

ul{
  list-style:none;
  background-color:black;
  padding:17px;
  max-width:100%;
  margin:0;
  overflow:hidden;
  position:sticky;
  z-index:1;
  top:0;
}

li a{

text-decoration:none;
padding:13px;
color:white;
}

li{
 float:left;
 margin-right:10%;
 font-size: 18px;
 font-weight:700;

}

ul:first-child {
    padding-left: 10%;
}

.menu-left {
    float: left;

}

.menu-right {
    float: right;
}

li a:hover{
text-decoration: underline;
}

li a:active{
    color:goldenrod;
    
 }


.image-style{
width:100%;
height:140px;
position:absolute;
left:39%;

max-width:330px;
z-index:1;
margin-top: -60px;

}

.banner-style{
  width:100%;
 height:450px;

}

.banner-container > h3 {
   color: #51360A;
   height:200px;
   width:450px;
   font-size:75px;
   padding:10px;
   left:60%;
   position:relative;
   
   text-align:center;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}

.banner-container > h4 {
    color:#B98D47;
    width:400px;
    padding:10px;
    left:61%;
    position:relative;
   
    font-size:45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    
 }
 
 main{
    position:relative;

    }

.button {
   background: -webkit-linear-gradient(var(--secondary-bg-color), var(--fade-color));
   color: var(--main-text-color);
   font-family: var(--main-font);
   border: none;
   padding: var(--main-space);
   align-self: center;
   font-size: 18px;
}

.button:hover {
    background: var(--fade-color);  
}

#footer {
    display: inline-block;
    position: static;
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
    bottom: 0;
    width: 96%;
    overflow-x: hidden;
    height: 70px;   
    padding: 0px 2%;
}

#banner {
    width: 95%;
    height: 300px;
    background-image: url(../img/moon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 60px;
    padding-left: 5%;
}

#banner p {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-shadow: rgb(239, 209, 39) 25px 0px 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
}

