.container {
    display: grid;
	width: 80%;
	margin: 0 auto;
	column-gap: 5%;

	grid-template-columns: repeat(4, 1fr);
	
	grid-template-rows: repeat(5, 150px);
	row-gap: 20px;
}

#welcome {
    
}

#offer {

}

#bigPicture {
    
}

#ourVision {
    
}