body {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    background-color: black;
}

.container {
    display: grid;
	width: 80%;
	margin: 0 auto;
	column-gap: 5%;

	grid-template-columns: repeat(6, 1fr);
	
	grid-template-rows: repeat(4, 450px);
	row-gap: 20px;
}

#firstIndexPic {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#welcome {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

#offer {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

#bigPicture {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

#ourVision {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}