body{
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    /* width: 100%; */
}

.container{
    display: grid;
    max-width: 80%;
    height: 800px;
    margin: 0 auto;
    background-color: black;
    /* font-family: 'noto sans mono'; */
    
    color: rgb(224, 224, 20) ;
    

    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: repeat(6, 1fr);
} 


#nybild {
    height: 200px;
    width: 280px;
    margin-left: 50px;
    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 3;
    grid-row-end: 4;
    
}

/* #header{
    margin-right: 10px;
} */


h1{
    color: var(--secondary-color);
    /* font-size: 50px; */
    text-align: center;
    /* text-decoration: underline; */
    grid-column-start: 3;
    grid-column-end: 5;
    padding-top: 2%;

}


.Burgers {
    color: var(--secondary-color);
    font-size:35px ;
    text-decoration: underline;
    grid-row-start: 2; 
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    /* padding-left: 10%; */
    
}


#burgernamn{
    color: white;
    line-height: 150%;
   grid-row-start: 3;
   grid-row-end: 4; 
   grid-column-start: 2;
   grid-column-end: 3;

   margin-top: -15%;
   /* padding-left:10%; */

   align-content: center;

   
}

.priser{
    color: var(--secondary-color);
    font-size: 35px;
    text-decoration: underline;
    text-align: center;

    grid-column-start: 5;
    grid-column-end: 6;

    grid-row-start: 2;
    grid-row-end: 3;



}

#pris{
    color: white;
    line-height: 150%;
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 4; 
    grid-column-start: 5;
    grid-column-end: 6;
 
    margin-top: -15%;
    margin-right: 15px;
    padding-left:10%;
 
    align-content: center;

}

#star{
    margin-top: 65px;
}

#moon{
    margin-top: 85px;
}


.Sides {
    color: var(--secondary-color);
display: grid;
    font-size: 25px;
    text-decoration: underline;

    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;

    /* padding-left: 10%; */

}

#sidesnamn{
    color: white;
    margin-top: -50px;
    line-height: 200%;
    
   grid-row-start: 6;
   grid-row-end: 7; 
   grid-column-start: 2;
   /* padding-left:10%; */
   word-spacing: 10px;
}


.Drinks {
    color: var(--secondary-color);
    font-size: 25px;
    text-decoration: underline;
    grid-column-start:5 ;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;

}

#drinksnamn {
   color: white;
    margin-top: -50px;
    margin-left: 25px;
    line-height: 200%;
    text-align: center;
    justify-items: center;
    place-self: center; 
    
   grid-column-start:5;
   grid-column-end:6; 

   grid-row-start:6;
   grid-row-end:7;
   word-spacing: 10px ;
  
} 


@media screen and (max-width: 768px){
.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    }

    #nybild{
        display: none;
    }

    .image-style{
        display: none;
    }



    h1{
        grid-column-start:3 ;
        grid-column-end:5 ;
        text-align: center;
    }

    .Burgers {
        grid-row-start: 2; 
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
        /* grid-column-start:2;
        grid-column-end: 3; */
        /* grid-row-start:3;
        grid-row-end:4; */

    }

    #burgernamn{
        grid-row-start: 3;
   grid-row-end: 4; 
   grid-column-start: 2;
   grid-column-end: 3;
   align-content: center;
    }
    
    .Sides, {
        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:3;
        grid-row-end:4;
    }

        #sidesnamn{
            grid-row-start:6;
   grid-row-end:7; 
   grid-column-start: 2;
   margin-top: -40px;
        }

    

    .priser{
text-align: center;
    grid-column-start: 5;
    grid-column-end: 6;

    grid-row-start: 2;
    grid-row-end: 3;
    }

    #pris{
        grid-row-start: 3;
    grid-row-end: 4; 
    grid-column-start: 5;
    grid-column-end: 6;
    align-content: center;
    text-align: center;

    } 

    .Drinks{
        grid-column-start:5 ;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        text-align: center;
    }


#drinksnamn{
    text-align: center;
    justify-items: center;
    place-self: center; 
    word-spacing: -10px;
    
   grid-column-start:5;
   grid-column-end:6; 

   grid-row-start:6;
   grid-row-end:7;
   margin-top: -40px;
   margin-bottom: 55%;
   margin-left: 25px;
}

}  







@media screen and (max-width: 480px){
    .container{    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}


#nybild{
    display: none;
}

.image-style{
    display: none;
}

#header{
    display: none;
}

h1{
    /* grid-column-start:3 ;
    grid-column-end:5 ; */
    text-align: center;
}

.Burgers {
    grid-row-start: 1; 
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
    /* grid-column-start:2;
    grid-column-end: 3; */
    /* grid-row-start:3;
    grid-row-end:4; */

}

#burgernamn{
    margin-top: 30%;
    grid-row-start: 3;
grid-row-end: 4; 
grid-column-start: 2;
grid-column-end: 3;
align-content: center;
}

.Sides {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
}

    #sidesnamn{
        margin-top: -300%;
        grid-row-start:4;
grid-row-end:4; 
grid-column-start:3;
margin-top: -50px;
    }



/* .priser{
text-align: center;
grid-column-start: 5;
grid-column-end: 6;

grid-row-start: 2;
grid-row-end: 3;
}

#pris{
    grid-row-start: 3;
grid-row-end: 4; 
grid-column-start: 5;
grid-column-end: 6;
align-content: center;
text-align: center;

} 

.Drinks{
    grid-column-start:5 ;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
}


#drinksnamn{
text-align: center;
justify-items: center;
place-self: center; 

grid-column-start:5;
grid-column-end:6; 

grid-row-start:6;
grid-row-end:7;
word-spacing: 10px ;
margin-top: -50px;
margin-left: 25px;
} */



}  
