body{
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    /* width: 100%; */
}

.container{
    display: grid;
    max-width: 80%;
    height: 800px;
    margin: 0 auto;
    background-color: black;
    font-family: 'noto sans mono';
    
    color: rgb(224, 224, 20) ;
    

    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: repeat(6, 1fr);
} 


img {
    height: 200px;
    width: 280px;
    margin-left: 50px;
    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 3;
    grid-row-end: 4;
    
}


h1{
    color: var(--secondary-bg-color);
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    grid-column-start: 3;
    grid-column-end: 5;
    padding-top: 2%;

}


.Burgers {
    color: var(--secondary-bg-color);
    font-size:35px ;
    text-decoration: underline;
    grid-row-start: 2; 
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    /* padding-left: 10%; */
    
}


#burgernamn{
    color: white;
    line-height: 150%;
   grid-row-start: 3;
   grid-row-end: 4; 
   grid-column-start: 2;
   grid-column-end: 3;

   margin-top: -15%;
   /* padding-left:10%; */

   align-content: center;

   
}

.priser{
    color: var(--secondary-bg-color);
    font-size: 35px;
    text-decoration: underline;
    text-align: center;

    grid-column-start: 5;
    grid-column-end: 6;

    grid-row-start: 2;
    grid-row-end: 3;



}

#pris{
    color: white;
    line-height: 150%;
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 4; 
    grid-column-start: 5;
    grid-column-end: 6;
 
    margin-top: -15%;
    margin-right: 15px;
    padding-left:10%;
 
    align-content: center;

}

#star{
    margin-top: 65px;
}

#moon{
    margin-top: 85px;
}


.Sides {
    color: var(--secondary-bg-color);
display: grid;
    font-size: 25px;
    text-decoration: underline;

    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;

    /* padding-left: 10%; */

}

#sidesnamn{
    color: white;
    margin-top: -50px;
    line-height: 200%;
    
   grid-row-start: 6;
   grid-row-end: 7; 
   grid-column-start: 2;
   /* padding-left:10%; */
   word-spacing: 10px;
}


.Drinks {
    color: var(--secondary-bg-color);
    font-size: 25px;
    text-decoration: underline;
    grid-column-start:5 ;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;

}

#drinksnamn {
   color: white;
    margin-top: -50px;
    margin-left: 25px;
    line-height: 200%;
    text-align: center;
    justify-items: center;
    place-self: center; 
    
   grid-column-start:5;
   grid-column-end:6; 

   grid-row-start:6;
   grid-row-end:7;
   word-spacing: 10px ;
  
} 



